.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.contact-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--nav-grey);
    font-size: 2rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.item-text {
    font-size: 1.1rem;
}

.contact-heading p {
    line-height: 2;
}

.contact-hello {
    display: flex;
}

.contact-hello p{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    color: var(--nav-pink-shade);
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--white);
    margin: 0 .3rem;
    padding: .7rem;
    background-color: var(--nav-deep-blue);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    font-size: 1.3rem;
}

.contact-icon:hover {
    background-color: var(--nav-pink-shade);
}

/* Media Queries */
@media screen and (max-width: 900px) {
    .contact-box {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5rem;
    }

    .right-box {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 550px) {
    .contact-heading p,.contact-hello p,.hello-links, input, textarea {
        font-size: 80%;
    }

    .right-box {
        font-size: 70%;
    }
}